deepspeed==0.14.4
einops==0.8.0
huggingface-hub==0.24.5
optimum-quanto
datasets
omegaconf
diffusers
sentencepiece
opencv-python
matplotlib
onnxruntime
torchvision
timm
fastapi[standard]
uvicorn
torch
boto3
python-multipart
motor
pillow
pydantic
asyncio
accelerate
transformers==4.42.4
xformers
protobuf
